// @nebular theming framework
@import '@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((
  button-filled-text-transform: initial,
  header-background-color: transparent,
  header-shadow: none,
  layout-padding: 2.25rem 1.25rem,
  card-border-width: 0,
  card-border-radius: 20px,
  card-margin-bottom: 0,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
), default, default);

$nb-themes: nb-register-theme((
  button-filled-text-transform: initial,
  header-background-color: transparent,
  header-shadow: none,
  layout-padding: 2.25rem 1.25rem,
  card-border-width: 0,
  card-border-radius: 20px,
  card-margin-bottom: 0,

  button-filled-basic-text-color: white,
  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
), dark, dark);
