@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .logo {
      padding: 0 1.25rem 0 0;
      font-size: 1.75rem;
      white-space: nowrap;
      text-decoration: none;
    }
  }

  .menu {
    border-radius: 50px;
    background-color: nb-theme(background-basic-color-1);
    padding: 5px;

    [nbButton] {
      border: none;
      border-radius: 50px;
      background-color: transparent;

      &.active {
        background-color: nb-theme(background-primary-color-1);
        color: nb-theme(text-control-color);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}
