<div class="header-container">
  <div class="logo-container">
    <a class="logo" href="#" (click)="navigateHome()">Dashboard</a>
  </div>
</div>

<div class="header-container">
  <div class="menu">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" nbButton><nb-icon icon="home-outline"></nb-icon>Accueil</a>
    <a routerLink="/trader" routerLinkActive="active" nbButton><nb-icon icon="pie-chart-outline"></nb-icon>Trader</a>
  </div>
  <div class="menu ms-1">
    <button nbButton (click)="toggleTheme()">
      <nb-icon [icon]="currentTheme === 'default' ? 'moon-outline' : 'sun-outline'"></nb-icon>
    </button>
  </div>
</div>
